<!DOCTYPE html>
<head>
    <title>
        Simulation Page
    </title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>

<body>
    <h3>
        Simulation Page
    </h3>

    <form method="post" action="{% url 'simulation' %}">
        {% csrf_token %}
        
       {{form.as_p}}
       
       <datalist id="stockSymbolsList">
        {% for stock in stock_symbols %}
           
            <option value="{{stock}}">

        {% endfor %}
       </datalist>



       <button type="submit">
        Submit
       </button>
      </form>

      {{form_data}}
      
</body>